// Font definitions.

$font-base-size: 16px;

$font-h1-lg: 68px;
$font-h1-md: 40px;
$font-h1-sm: 30px;

$font-h2-lg: 32px;
$font-h2-md: 30px;
$font-h2-sm: 36px;

$font-h3-lg: 28px;
$font-h3-md: 24px;
$font-h3-sm: 22px;

$font-h4-lg: 18px;
$font-h4-md: 18px;
$font-h4-sm: 18px;

* {
    font-size: $font-base-size;
}
